---
---
$box-shadow: none;

@import "bulma";

.video-container-16x9 {
    height: 0;
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
}

.video-container-16x9 iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}
