---
layout: default
---

{% if page.title %}
<h1 class="title">{{ page.title }}</h1>
{% endif %}

<section class="section">

  <h2 id="about-me" class="subtitle">About me</h2>
  <hr>

  <h3>Takatoshi Iwasa</h3>
  <div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image is-128x128">
          <img src="{{ site.github.owner_gravatar_url }}" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <span class="icon"><i class="fas fa-user-tie"></i></span>software engineer, programmer
          </p>
          <p>
            <span class="icon"><i class="fas fa-heart"></i></span>Golang, Scala, Python, Algorithm, Novel, ...
          </p>
          <p>
            <span class="icon"><i class="fas fa-location-arrow"></i></span>Tokyo, Japan
          </p>
        </div>
        <p>
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <span class="icon is-large"><i class="fab fa-twitter fa-lg"></i></span>
          </a>
          <a href="https://github.com/iwataka">
            <span class="icon is-large"><i class="fab fa-github fa-lg"></i></span>
          </a>
          <a href="mailto:ap.gr.le@gmail.com">
            <span class="icon is-large"><i class="fas fa-envelope fa-lg"></i></span>
          </a>
          <a href="https://qiita.com/iwataka">
            <span class="is-size-4">Qiita</span>
          </a>
        </p>
      </div>
    </article>
  </div>

</section>

<section class="section">

  <h2 id="projects" class="subtitle">My GitHub Projects</h2>
  <hr>

  {% assign repositories = site.github.public_repositories | where:'fork', false | sort:'stargazers_count', 'last' | reverse %}
  {% for repository in repositories limit:10 %}
  {% if repository.stargazers_count > 0 %}
  <a href="{{ repository.html_url }}">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ repository.name }}</strong>
              <small>
                <span class="icon"><i class="fas fa-star"></i></span> {{ repository.stargazers_count }}
                <span class="icon"><i class="fas fa-code-branch"></i></span> {{ repository.forks_count }}
              </small>
              {% if repository.language %}
              <span class="tag">{{ repository.language }}</span>
              {% endif %}
              <br/>
              {{ repository.description }}
            </p>
          </div>
        </div>
      </article>
    </div>
  </a>
  {% endif %}
  {% endfor %}

</section>

{% if site.posts.size > 0 %}
<section class="section">

  <h2 id="posts" class="subtitle">My Posts</h2>
  <hr>

  {% for post in site.posts %}
  {% assign date_format = site.minima.date_format | default: "%b %d, %Y" %}
  <a href="{{ post.url }}">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ post.title | escape }}</strong>
              <small><span class="icon"><i class="fas fa-calendar"></i></span>{{ post.date | date: date_format }}</small>
              {{ post.excerpt }}
            </p>
          </div>
        </div>
      </article>
    </div>
  </a>
  {% endfor %}

</section>
{% endif %}

<section class="section">

  <h2 id="interests" class="subtitle">My Interests</h2>

  <div class="content">
    <a class="twitter-timeline" href="https://twitter.com/{{ site.twitter_username }}" data-width="500">Tweets by iwatakatech</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>

</section>
